/*
_sass/main.scss   main styles, others here and lessoncss.html in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
*/
.nav-list, .nav-list-tight, .nav-list-lesson { background-color: #333; overflow: hidden; }

.nav-list a, .nav-list-tight a, .nav-list-lesson a { float: left; color: #f2f2f2; text-align: center; text-decoration: none; }

.nav-list a { padding: 14px 16px; font-size: 17px; }

.nav-list-tight a { padding: 6px 8px; font-size: 12px; }

.nav-list-lesson a { padding: 2px 9px; font-size: 13px; }

/* change link color on hover */
.nav-list a:hover, .nav-list-tight a:hover, .nav-list-lesson a:hover { background-color: #ddd; color: black; }

.current-page { background-color: #04aa6d; color: black; }

.center-box { margin-left: auto; /* equal left and right center it */ margin-right: auto; /* equal left and right center it */ width: intrinsic; /* Safari/WebKit uses a non-standard name */ width: -moz-max-content; /* Firefox/Gecko */ width: -webkit-max-content; /* Chrome */ width: max-content; }

.lesson_diagram img { display: block; width: 90%; background-color: white; border-style: solid; border-color: #04aa6d; margin-left: auto; margin-right: auto; margin-top: 15px; margin-bottom: 8px; padding-left: 10px; padding-right: 10px; }

.lesson_diagram { padding-bottom: 15px; font-size: 15px; text-align: center; font-weight: bolder; }

/*
_sass/heading.scss   heading styles in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
*/
div.section_header { padding: 3px 6px 3px 6px; background-color: #8E9CB2; color: #FFFFFF; font-weight: bold; font-size: 112%; text-align: center; }

div.section_header_blue { background-color: blue; }

div.section_header_red { background-color: #CD214F; }

div.section_header_grey { background-color: #9F9386; }

.floating_element { position: relative; float: left; }

/*# sourceMappingURL=styles.css.map */